<div>
  <mat-form-field>
    <mat-label>chunk size</mat-label>
    <mat-select [(ngModel)]="testChunk">
      <mat-option *ngFor="let chunk of optionChunks" [value]="chunk.value">{{
        chunk.label
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>response type</mat-label>
    <mat-select [(ngModel)]="testResponseType">
      <mat-option *ngFor="let chunk of optionResponseTypes" [value]="chunk.value">{{
        chunk.label
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div>
  <input type="file" (change)="onFileChange($event)" />
</div>

<hr class="partition" />

<div class="print-stack">
  <div class="stack-opt">
    <button mat-raised-button color="warn" [disabled]="!reader" (click)="onFileAbort($event)">
      abort
    </button>
    <div class="spacer"></div>
    <div class="stack-count">read count: {{ changeStackCount }}</div>
  </div>
  <div class="stack-list">
    <div *ngFor="let fileEvent of changeStack" class="stack-item">
      <div class="aside">
        {{ fileEvent.type }}
      </div>
      <div *ngIf="fileEvent.state" class="bside">
        <span class="label">
          <span class="dt">readed</span>
          <span class="dd">{{ fileEvent.state.readed }}</span>
        </span>
        <span class="label">
          <span class="dt">total</span>
          <span class="dd">{{ fileEvent.state.total }}</span>
        </span>
        <span class="label">
          <span class="dt">percent</span>
          <span class="dd">{{ (fileEvent.state.readed / fileEvent.state.total).toFixed(2) }}</span>
        </span>
      </div>
    </div>
  </div>
</div>
