<ng-container *ngIf="hasChildren; then tmplChildren; else tmplNoneChildren">
</ng-container>

<ng-template #tmplChildren>
  <button
    mat-button
    class="menu-item"
    [class.is-opened]="isOpened"
    (click)="handleToggleExpand()"
  >
    <span class="menu-label">{{ label }}</span>
    <span class="menu-expand">
      <mat-icon>expand_more</mat-icon>
    </span>
  </button>
  <div class="panel-expand">
    <menu-group [menus]="children"></menu-group>
  </div>
</ng-template>

<ng-template #tmplNoneChildren>
  <a
    mat-button
    class="menu-item"
    [routerLink]="href"
    [queryParams]="queryParams"
    routerLinkActive="activate"
    [routerLinkActiveOptions]="{ exact: activateExactly }"
  >
    <span class="menu-label">{{ label }}</span>
  </a>
</ng-template>
