<mat-toolbar color="primary" class="ly-header">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="head-bar">
    <h1 class="app-title">{{ appTitle }}</h1>
  </div>
  <button
    *ngFor="let publish of publishList"
    mat-icon-button
    [matTooltip]="publish.label"
    (click)="onOpenToPublish(publish)"
  >
    <mat-icon>{{ publish.icon }}</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="ly-container">
  <mat-sidenav
    class="ly-side"
    #drawer
    [opened]="initOpened"
    [mode]="drawerMode"
    [fixedInViewport]="fixedInViewport"
    [fixedTopGap]="fixedTopGap"
  >
    <layout-aside class="ly-navi" [menuList]="menuList"></layout-aside>
  </mat-sidenav>
  <mat-sidenav-content class="ly-content">
    <div class="ly-body">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
