:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.ly-header {
  position: sticky;
  top: 0;
  z-index: 100;
  .head-bar {
    flex: 1;
  }
  .app-title {
    margin-left: 8px;
    font-size: 18px;
  }
}
.ly-container {
  flex: 1;
}
.ly-side {
  width: 200px;
  background-color: #ffffff;
}
.ly-content {
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
}
