<div>
  <div class="fm-box-wrap">
    <div class="fm-box">
      <span class="label">expectWidth</span>
      <div class="box">
        <mat-select [(ngModel)]="testWidth">
          <mat-option *ngFor="let data of optionWidths" [value]="data.value">{{
            data.label
          }}</mat-option>
        </mat-select>
      </div>
    </div>
    <div class="fm-box">
      <span class="label">expectHeight</span>
      <div class="box">
        <mat-select [(ngModel)]="testHeight">
          <mat-option *ngFor="let data of optionHeights" [value]="data.value">{{
            data.label
          }}</mat-option>
        </mat-select>
      </div>
    </div>
    <div class="fm-box">
      <span class="label">quality</span>
      <div class="box">
        <mat-select [(ngModel)]="testQuality">
          <mat-option *ngFor="let data of optionQualities" [value]="data.value">{{
            data.label
          }}</mat-option>
        </mat-select>
      </div>
    </div>
    <div class="fm-box">
      <span class="label">applyOrientation</span>
      <div class="box">
        <mat-checkbox class="example-margin" [(ngModel)]="testApplyOrientation">
          apply exif orientation
        </mat-checkbox>
      </div>
    </div>
    <div class="fm-box">
      <span class="label">expectContentType</span>
      <div class="box">
        <input class="fm-input" [(ngModel)]="testContentType" placeholder="ex) image/jpeg" />
      </div>
    </div>
    <div class="fm-box">
      <span class="label">fillBgColor</span>
      <div class="box">
        <input class="fm-input" [(ngModel)]="testFillBgColor" placeholder="ex) #ff0000" />
      </div>
    </div>
  </div>

  <ul class="my-desc">
    <li class="item">quality: only applies when contentType "image/jpeg"</li>
    <li class="item">
      orientation: only applies when image has exif orientation
      <a target="_blank" href="https://github.com/recurser/exif-orientation-examples"
        >(github: exif orientation sample image)</a
      >
    </li>
  </ul>
</div>

<div class="file-wrap">
  <input type="file" accept="image/*" (change)="onFileChange($event)" />
</div>

<div class="demo-wrap">
  <div *ngFor="let demo of demoList" class="demo-item">
    <div class="panel-canvas">
      <div class="draw-area">
        <canvas #demoCanvasRefs></canvas>
      </div>
    </div>
    <div *ngIf="demo.info" class="panel-info">
      <em class="tit">{{ demo.info.title }}</em>
      <dl class="dl">
        <dt class="dt">size</dt>
        <dd class="dd">{{ demo.info.size }}bype / {{ (demo.info.size / 1024).toFixed(2) }}kb</dd>
      </dl>
      <dl class="dl">
        <dt class="dt">type</dt>
        <dd class="dd">{{ demo.info.type }}</dd>
      </dl>
      <dl class="dl">
        <dt class="dt">width</dt>
        <dd class="dd">{{ demo.info.width }}</dd>
      </dl>
      <dl class="dl">
        <dt class="dt">height</dt>
        <dd class="dd">{{ demo.info.height }}</dd>
      </dl>
    </div>
  </div>
</div>

<!-- <div class="canvas-wrap">
  <div class="canvas-item">
    <div class="display-area">
      <div class="draw-area">
        <canvas #canvasOriginal></canvas>
      </div>
    </div>
  </div>
  <div class="canvas-item">
    <div class="display-area">
      <div class="draw-area">
        <canvas #canvasCover></canvas>
      </div>
    </div>
  </div>
  <div class="canvas-item">
    <div class="display-area">
      <div class="draw-area">
        <canvas #canvasCoverNoneStretch></canvas>
      </div>
    </div>
  </div>
  <div class="canvas-item">
    <div class="display-area">
      <div class="draw-area">
        <canvas #canvasScale></canvas>
      </div>
    </div>
  </div>
</div>

<div class="info-wrap">
  <div *ngFor="let info of infos" class="info-item">
    <em class="tit">{{ info.title }}</em>
    <dl class="dl">
      <dt class="dt">size</dt>
      <dd class="dd">{{ info.size }}bype / {{ (info.size / 1024).toFixed(2) }}kb</dd>
    </dl>
    <dl class="dl">
      <dt class="dt">type</dt>
      <dd class="dd">{{ info.type }}</dd>
    </dl>
    <dl class="dl">
      <dt class="dt">width</dt>
      <dd class="dd">{{ info.width }}</dd>
    </dl>
    <dl class="dl">
      <dt class="dt">height</dt>
      <dd class="dd">{{ info.height }}</dd>
    </dl>
  </div>
</div> -->
